@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <input type="file" multiple id="file" />
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.js"></script>
<script>
    var file = document.getElementById("file");
    file.onchange = function () {
        var file = document.getElementById("file");
        var files = file.files;
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append(files[i].name, files[i]);
        }
        formData.append("name", "刘大大");

        //From传参
        //contentType: "application/x-www-form-urlencoded",
        //var model = { name: "刘大大", age: 23, sex: true };
        //Body传参
        //contentType: "application/json",
        //var json = "{ 'name': '刘大大', 'age': 23, 'sex': true }";

        var isUploadByJs = true;
        var url = isUploadByJs ? 'http://localhost:9001/API/Default/Upload' : 'http://localhost:9002/Home/Upload';
        $.ajax({
            url: url,
            type: "POST",
            async: true,
            dataType: "json",
            data: formData,
            contentType: false, //必须false才会避开jQuery对 formdata 的默认处理
            processData: false, //必须false才会自动加上正确的Content-Type
            success: function (data) {
                console.log(data);
                alert(JSON.stringify(data));
            }
        });
    }
</script>